section {
    background-color: #1e293b;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: 0.3s;
    max-width: 600px;
}
body{
    background-color: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
    display: flex;
    justify-content: center;
}
h1 {
    color: #38bdf8;
}
header h1 {
    font-size: 32px;
}
h2 {
    color: #22c55e;
}
p {
    font-size: 18px;
}
img {
    border-radius: 10px;
    margin-top: 10px;

}
.conainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    width: 100%;
    max-width: 800%;
}
header {
    background-color: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 30px;
}
section:hover {
    transform: scale(1.02);
    transition: 0.3s;
    transform: hover(-5px);
}
button {
    background-color: #38bdf8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}
button:hover {
    background-color: #0ea5e9;
    transform: scale(1.05);
}
footer {
    margin-top: 20px;
}
ul {
    list-style-position: inside;
    padding: 0;
}
img {
    margin-top: 20px;
    border-radius: 15px;
}
.layout {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.left, .right {
    flex: 1;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
}
}
.layout{
    max-width: 900px;
    margin: auto;
}