body {
    font-family: Arial;
    background-color: #0f172a;
    color: white;
    text-align: center;
    margin: 0;
}

/* CONTENEDOR */
.container {
    margin-top: 50px;
}

/* INPUT */
input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-right: 10px;
}

/* BOTÓN */
button {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    background-color: #38bdf8;
    color: white;
    font-weight: bold;
}

/* LISTA */
li {
    margin-top: 15px;
    list-style: none;

    background-color: #1e293b;
    padding: 10px;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* BOTÓN ELIMINAR */
li button {
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
}